html {
  scroll-behavior: smooth;
  font-size: 10px;
}

html,
body {
  overflow-x: hidden;
}

@screen md {
  html {
    font-size: 12px;
  }
}

@screen lg {
  html {
    font-size: 14px;
  }
}

body {
  line-height: 1.6;
  @apply font-english bg-white2;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
textarea,
input,
select {
  font-family: inherit;
}

img,
picture,
video {
  max-width: 100%;
  display: block;
}
