.course {
  grid-column: 1 / -1;
  position: relative;
}

@screen xs {
  .course {
    grid-column: 2 / -2;
  }
}

@screen lg {
  .course {
    grid-column: 5 / span 2;
    margin-inline: 0;
  }
}

.course-data {
  grid-column: 1 / 5;
  grid-row: 2;
}

@screen lg {
  .course-data {
    grid-row: 1;
  }
}

.course-video {
  aspect-ratio: 4 / 3;
  background-color: #808080;
  border-radius: 8px;
}

.course-sheet {
  border-radius: 8px;
  background-color: #808080;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @apply text-white font-bold cursor-pointer bg-darkerBlue p-4;
}

.course-sheet:hover p {
  text-decoration: underline;
}

.course-sheet p {
  color: inherit;
  font-weight: inherit;
}

.course-sheet:hover svg {
  @apply animate-bounce text-lightRed;
}

.course-exam {
  aspect-ratio: 3 / 4;
  background-color: #808080;
  border-radius: 8px;
}

.course-exam,
.course-sheet,
.course-video {
  cursor: pointer;
}
